[Desktop Entry]
Icon=pisiplayer
TryExec=pisiplayer
GenericName=Pisi Player for Pisi Linux
GenericName[tr]=Pisi Linux için Pisi Player
Exec=pisiplayer %u
MimeType=audio/ac3;audio/mp4;audio/mpeg;audio/vnd.rn-realaudio;audio/vorbis;audio/x-adpcm;audio/x-matroska;audio/x-mp2;audio/x-mp3;audio/x-ms-wma;audio/x-vorbis;audio/x-wav;audio/mpegurl;audio/x-mpegurl;audio/x-pn-realaudio;audio/x-scpls;audio/aac;audio/flac;audio/ogg;video/avi;video/mp4;video/flv;video/mpeg;video/quicktime;video/vnd.rn-realvideo;video/x-matroska;video/x-ms-asf;video/x-msvideo;video/x-ms-wmv;video/x-ogm;video/x-theora;video/webm;Categories=Qt;Player;
Author=Metehan Özbek
Name=Pisi Player
Name[tr]=Pisi Player
Type=Service
Categories=Qt;KDE;AudioVideo;Player;Video;