[Desktop Entry]
Icon=pisiplayer
TryExec=pisiplayer
Exec=pisiplayer %u
MimeType=video/ogg;video/x-theora+ogg;video/x-ogm+ogg;video/x-ms-wmv;video/x-msvideo;video/x-ms-asf;video/x-matroska;video/mpeg;video/avi;video/quicktime;video/vnd.rn-realvideo;video/x-flic;video/mp4;video/x-flv;video/webm;application/x-cd-image;
Categories=Qt;Player;
Author=Metehan Özbek
Type=Service